{#
    Links to social media as font-awesome icons
#}
{% if theme_social_urls != None %}
<hr>
<div class="social-icons">
    {%- if theme_contact_email != None %}
    {% set mail_link = "mailto:" ~ theme_contact_email ~ "?subject=We want to hire you" %}
    <a href="{{ mail_link }}">
        <i class="fa fa-envelope"></i>
    </a>
    {% endif %}
    {% for key, link in theme_social_urls.items() %}
    <a href={{ link }}><i class="fab fa-{{ key }}"></i></a>
    {% endfor %}
</div>
<hr>
{% endif %}
