header, .footer {
    display: none;
}

body {
    font-size: 12px;
}

.container {
    padding: 0px;
    display: flow;
}

.sidebar-toggle-label,
div#searchbox,
.sidebar div.sb-navigate,
.sidebar div.toc {
    display: none !important;
}

.sidebar li.toc-visible {
    list-style-type: circle;
    font-weight: unset;
    transform: unset;
    transition: unset;
}

.sidebar {
    all: unset;
    width: 35%;
}

.sidebar * {
    opacity: 1;
}

.sidebar hr {
    margin: 0.5em;
}

.cv-info {
    display: flex;
}
.cv-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 3;
    justify-content: space-evenly;
    margin-block-start: unset;
}
.cv-useful-info {
    flex-grow: 2;
    margin-left: 1.4em;
    margin-right: 0.5em;
}
.cv-useful-info-item h4 {
    margin-block: 0.3em;
}
.cv-useful-info-item > ul {
    display: flex;
    column-gap: 1.5em;
    margin-block: 0px;
}
.cv-useful-info-item > ul > li {
    flex-basis: 100%;
}
.social-icons {
    max-width: unset;
}

.progress-bar-in {
    height: 1.4em;
    margin-top: -0.05em;
    margin-left: -1px;
    border: 2px solid black;
}

.progress-bar-out {
    border: dotted 1px;
    height: 1.3em;
}

/* Breaks */
h1, h2, h3, h4, h5, h6 {
    break-after: avoid;
}

table:not(.highlighttable), img, svg, li, ul.cv-aptitudes {
    break-inside: avoid;
}
