@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Red+Hat+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');

:root {
    --header-background: rgba(221, 221, 221, 0.88);
    --global-background: rgb(221, 221, 221);
    --content-background: rgb(205, 205, 205);
    --menu-background: rgba(221, 221, 221, 0.9);
    --code-background: rgba(60, 60, 60);
    --hs-font: #202020;
    --body-font: #444444;
    --progress-bar: #686868;
    --invert-imgs: 0;
    /* This is independent of the selected theme */
    --info-color: rgb(67, 146, 216);
    --info-bg-color: rgba(67, 146, 216, 0.1);
    --warning-color: rgb(206, 155, 59);
    --warning-bg-color: rgba(206, 155, 59, 0.1);
    --error-color: rgb(224, 49, 75);
    --error-bg-color: rgba(224, 49, 75, 0.1);
    --special-words: #ad3939;
    --link: #1f8bba;
    --highlight-color: #999e1a;
    --header-height: 90px;
    --mobile-padding: 3vw;
    --desktop-padding: 18vw;
    --desktop-big-padding: 23vw;
    --span-icons-length: 1.6em;
}

@media(prefers-color-scheme: dark){
    :root {
        --header-background: rgba(34, 34, 34, 0.88);
        --global-background: rgb(34, 34, 34);
        --content-background: rgb(42, 42, 42);
        --code-background: rgba(34, 34, 34);
        --menu-background: rgba(34, 34, 34, 0.9);
        --hs-font: #e8e8e8;
        --body-font: #afafaf;
        --progress-bar: #9f9f9f;
        --invert-imgs: 1;
    }
}

/*=============================================================================
BASIC SETUP
=============================================================================*/
*, *::before, *::after {
    box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Ultimately, this is the correct place for scroll-padding */
html {
  scroll-padding-top: calc(var(--header-height) + 0.75em); /* height of sticky header */
}

/*=============================================================================
ARTICLES APPEARANCE
=============================================================================*/
body {
    margin: 0;
    font-family: 'Nunito', sans-serif; /* 'Work Sans', sans-serif;*/
    font-size: 18px;
    font-weight: 400;
    color: var(--body-font);
    background: var(--global-background);
    scroll-padding-top: var(--header-height); /* height of sticky header */
}

p, li {
    text-align: justify;
    overflow-wrap: break-word;
}

/* HYPERLINKS */
a {
    text-decoration: none;
    color: var(--link);
}

a:hover {
    text-decoration: underline;
}

.headerlink {
    color: #1f8bba1a;
}

.headerlink:hover {
    text-decoration: none;
}

/* HIGHLIGHT SEARCH */
span.highlighted {
    outline: 1px solid var(--highlight-color);
}

/* EQUATIONS */
div.math {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.underline-text {
    text-decoration: underline;
}
.strikethrough-text {
    text-decoration: line-through;
}
.highlight-text-yellow {
    background-color: #fffa0740;
    border-inline: 2px solid #fffa0770;
}
.highlight-text-purple {
    background-color: #b94de340;
    border-inline: 2px solid #b94de370;
}
.highlight-text-blue {
    background-color: #4dd2e340;
    border-inline: 2px solid #4dd2e370;
}
.highlight-text-red {
    background-color: #CC222240;
    border-inline: 2px solid #CC222270;
}
.highlight-text-green {
    background-color: #7FFF0040;
    border-inline: 2px solid #7FFF0070;
}


/* IMAGES */
.content img {
    display: flex;
    margin: auto;
}

.content img.pic-invert {
    filter: invert(var(--invert-imgs));
}

/* TABLES */
.hscroll-table {
    max-width: 100%;
    overflow-x: auto;
}

table:not(.highlighttable),
table:not(.highlighttable) th,
table:not(.highlighttable) td {
    border: 1px solid var(--hs-font);
    border-collapse: collapse;
    margin-bottom: 2em;
    padding: 0.5em;
    margin-inline: auto;
}

/* LISTS */
ol, ul {
    padding-inline-start: 15px;
}

/* BLOCKQUOTES */
blockquote::before {
    content: open-quote;
    font-size: 50px;
    height: 30px;
    margin-right: 0.15em;
}

blockquote {
    font-style: oblique;
    display: flex;
    margin-block: 5px;
    margin-inline: 20px;
}

/* CODE */
div.highlight {
    background-color: var(--code-background);
}

pre, .pre {
    font-family: 'Red Hat Mono', monospace;
    font-size: 0.9em;
    word-wrap: break-word;
}

pre {
    background-color: var(--code-background);
    padding: 0.2em;
    overflow: auto;
}


table.highlighttable {
    width: 100%;
    table-layout: fixed;
}

table.highlighttable pre {
    margin: 0.2em 0px;
}

table.highlighttable td.code {
    border-left: 1px solid var(--progress-bar);
}

.linenos {
    width: 30px;
    background: var(--code-background);
    user-select: none; /* Standard */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
}
span.linenos {
    border-right: 1px solid;
    margin-right: 1em;
}
td.code {
    overflow: auto;
    background: var(--code-background);
    padding-left: 0.2em;
}

.footnote * {
    margin-block: 0px;
}

.admonition {
    border: solid 2px;
    border-radius: 10px;
    padding-inline: 10px;
    font-family: Helvetica;
    font-weight: 500;
    margin-block: 1ex;
}

.admonition p {
    margin-block: 0.5em;
}

.admonition-title {
    font-weight: 800;
}

.admonition-title::after {
    content: ":";
}

.admonition-title::before {
    margin-right: 0.3em;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: 0.9em;
}

.hint,
.note,
.tip,
.seealso {
    background-color: var(--info-bg-color);
    color: var(--info-color);
    border-color: var(--info-color);
}
.warning,
.attention,
.important,
.caution {
    background-color: var(--warning-bg-color);
    color: var(--warning-color);
    border-color: var(--warning-color);
}
.danger,
.error {
    background-color: var(--error-bg-color);
    color: var(--error-color);
    border-color: var(--error-color);
}

/*=============================================================================
ARTICLES LIST
=============================================================================*/
ul.search, .posts-list{
    display: block;
    padding-inline-start: 0.1em;
    list-style-position: inside;
}

ul.search > li, .posts-list > li {
    list-style: none;
}

ul.search > li > a:before, .posts-list > li > a:before{
    content: "\270f";
    font-size: 25px;
    margin-right: 0.3em;
}

ul.search > li > a:hover,.posts-list > li > a:hover {
    border-left: 2px solid var(--hs-font);
    padding-left: 0.4em;
    text-decoration: none;
}

ul.search > li > a, .posts-list > li > a{
    color: var(--hs-font);
    font-size: 18px;
    vertical-align: 0.15em;
    display: flex;
    align-items: center;
}

div.post-entry {
    display: flex;
    flex-wrap: wrap;
    margin-block: 0.3em;
}

span.post-group {
    margin-left: 0.6em;
    font-weight: bold;
    padding-right: 0.6em;
    border-right: 2px solid var(--hs-font);
}

span.post-date {
    font-size: 0.8em;
    margin-left: 0.6em;
    margin-top: 0.23em;
    color: var(--body-font);
}

span.post-title {
    margin-left: 0.6em;
    margin-right: auto;
    width: 100%;
}

/*=============================================================================
SEARCH APPEARANCE
=============================================================================*/
.search {
    display: flex;
    flex-wrap: nowrap;
}

ul.search {
    display: block;
}

.search-box {
    width: min(600px, 90%);
    background: none;
    color: var(--hs-font);
    border: solid 1px var(--hs-font);
}

.search-button {
    max-width: 30px;
    min-width: 25px;
    background: none;
    color: var(--hs-font);
    font-size: 20px;
    border: solid 1px var(--hs-font);
}

/*=============================================================================
CONTENT APPEARANCE
=============================================================================*/
.container, .footer {
    display: flex;
    flex-direction: row;
    padding-inline: var(--mobile-padding);
    flex-wrap: nowrap;
}

.footer {
    align-items: center;
    justify-content: flex-end;
    font-size: 0.57em;
    height: 1.1em;
}

.container {
    align-content: stretch;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: var(--header-height);
}

.content {
    min-height: calc(100vh - var(--header-height) - 1.2em);
    margin-left: auto;
    width: calc(100vw - 2 * var(--mobile-padding) - var(--span-icons-length));
    background-color: var(--content-background);
}

/*=============================================================================
CV APPEARANCE
=============================================================================*/
.cv-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 1.4em;
}

.cv-main img {
    max-width: 150px;
}

.cv-main h3 {
    font-weight: normal;
    margin-block-end: 0.3em;
}

.cv-surname {
    font-weight: bold;
}

.cv-info h4 {
    margin-block: 0.9em;
}

.cv-info ul {
    font-size: 14px;
}

.cv-main p {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    font-size: 14px;
    margin-block: 0.5em;
}

.cv-info > ul li {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	column-gap: 3px;
}

.progress-bar-out {
    display: inline-block;
    background: var(--content-background);
    border-radius: 0.6em;
    flex-grow: 2;
    margin-top: 0.3em;
    height: 0.9em;
    width: -webkit-fill-available;
}

.progress-bar-in {
    background-color: var(--progress-bar);
    border-radius: 0.6em;
    text-align: end;
    padding-inline-end: 0.3em;
    color: var(--global-background);
    height: 1em;
    font-size: 0.9em;
    font-family: Helvetica;
}

ul.cv-aptitudes {
    margin: unset;
    padding: unset;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    list-style-type: none;
}

li.cv-aptitude {
    margin: unset;
    margin-bottom: 0.4em;
    width: calc(96% / 4);
    min-width: 140px;
    display: flex;
    flex-direction: column;
}

li.cv-aptitude p {
    margin: 0;
    width: 100%;
    margin-inline-start: 1em;
}

li.cv-aptitude div.progress-bar {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

li.cv-aptitude span.progress {
    margin: 0;
    border-bottom: 3px solid var(--progress-bar);
    width: 100%;
    margin-inline-start: 1em;
}

li.cv-aptitude span{
    border-bottom: 3px solid var(--global-background);
    flex: auto;
}

/*=============================================================================
HEADER APPEARANCE
=============================================================================*/
.logo-box {
    display: flex;
    max-height: calc(var(--header-height) - 5px);
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    max-width: 150px;
}

.logo-box path {
    stroke: var(--hs-font)
}

.logo-box a {
    color: var(--body-font);
    font-size: 18px;
    font-family: Monospace;
    text-align: left;
    text-decoration: none;
    margin-left: 0.3em;
    line-height: 1.2em;
}


header {
    background: var(--header-background);
    border-style: none none solid none;
    border-width: 3px;
    border-color: var(--hs-font);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 13;
    top: 0;
    width: 100vw;
    height: var(--header-height);
    padding-inline: var(--mobile-padding);
    /* Add the blur effect */
    backdrop-filter: blur(3px);
}

nav {
    background: var(--header-background);
    position: absolute;
    text-align: right;
    top: var(--header-height);
    width: calc(100% - var(--mobile-padding));
    padding-top: 1em;
    padding-right: var(--mobile-padding);
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    /* Add the blur effect */
    backdrop-filter: blur(3px);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
    text-align: right;
}

nav a {
    color: var(--hs-font)
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: unset;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: var(--mobile-padding);
  margin-left: 1em;
  height: 100%;
  width: 1.3em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-toggle-label span {
    display: block;
    background: var(--hs-font);
    height: var(--span-icons-length);
    width: 2px;
    border-radius: 2px;
    position: relative;
}


span.nav-toggle-m1 {
    right: 14px;
}

span.nav-toggle-m2 {
    height: calc(0.6 * var(--span-icons-length));
    margin-bottom: 13px;
    transform: rotate(-45deg);
    right: 11px;
}

span.nav-toggle-m3 {
    height: calc(0.6 * var(--span-icons-length));
    margin-bottom: 13px;
    transform: rotate(45deg);
    right: 3px;
}

span.nav-toggle-mvert {
    transform: scale(1, 1);
    transform-origin: top;
    transition: transform 250ms ease-in-out;
}

span.nav-toggle-mdiag {
  margin-top: 0px;
  transition: margin-top 250ms ease-in-out;
}

.nav-toggle:checked ~ .nav-toggle-label span.nav-toggle-mvert {
  transform: scale(1, 0.5);
  transform-origin: top;
  transition: transform 250ms ease-in-out;
}

.nav-toggle:checked ~ .nav-toggle-label span.nav-toggle-mdiag {
  margin-top: 23px;
  transition: margin-top 250ms ease-in-out;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

hr.header-limit {
    margin: var(--header-height) 0px 0px 0px;
    border-width: 0px;
}

/*=============================================================================
SIDEBAR APPEARANCE
=============================================================================*/
.sidebar {
    display: inline-block;
    position: fixed;
    top: var(--header-height);
    z-index: 9;
    max-height: calc(100vh - var(--header-height));
    overflow-y: auto;
    background-color: var(--menu-background);
    padding-inline-start: 2.7em;
    padding-inline-end: 1em;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 400ms ease-in-out;
}

.sidebar-toggle {
    z-index: 12;
    position: sticky;
    top: var(--header-height);
    display:none;
}

.sidebar-toggle-label {
    position: sticky;
    top: var(--header-height);
    z-index: 12;
    padding-block-start: 1.5em;
    padding-block-end: 1em;
    width: var(--span-icons-length);
    display: flex;
    flex-direction: column;
}

.sidebar-toggle-label span,
.sidebar-toggle-label span::before,
.sidebar-toggle-label span::after {
    display: block;
    background: var(--hs-font);
    height: 2px;
    width: var(--span-icons-length);
    border-radius: 2px;
    position: relative;
    content: '';
}

.sidebar-toggle-label span::before,
.sidebar-toggle-label span::after {
    content: '';
    position: absolute;
    width: calc(0.75 * var(--span-icons-length));
    margin-left: calc(0.25 * var(--span-icons-length));
    transform: translateY(0);
    transition: transform 150ms ease-in-out;
}

.toc>ul {
    padding-left: 8px;
    list-style-type: circle;
}

.toc>ul:first-child {
    padding-left: 0px;
}


.toc>ul:first-child>li:first-child {
    margin-left: -0.5em;
    padding-left: 0px;
    list-style-type: none;
}

.toc>ul:first-child>li:first-child>a:first-child {
    margin-block: 0em;
    margin-left: 0em;
    list-style: none;
    font-size: 1.17em;
    font-weight: bold;
}

.sidebar ul {
    padding-left: 8px;
    list-style-type: circle;
}

.sidebar hr {
    margin-block: 1.2em;
}

.sidebar li.toc-visible {
    list-style-type: disc;
    font-weight: bold;
    transform: scale(1.05, 1.05);
    transition: transform 200ms ease-in-out;
    max-width: calc(100% / 1.05);
}

.sidebar ul, li {
    margin-block: 0.6em;
    margin-left: 0.5em;
}

.sidebar ul ul {
    font-size: 0.95em;
}

.sidebar a {
  color: var(--hs-font);
}

.sidebar * {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.social-icons {
    display: flex;
    font-size: 22px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-inline: auto;
    max-width: 180px;
    min-width: 120px;
}

.social-icons a {
    font-size: 1.1em;
}

.sidebar-toggle:checked ~ .sidebar {
    transform: scale(1, 1);
}

.sidebar-toggle:checked ~ .sidebar * {
    opacity: 1;
    transition: opacity 150ms ease-in-out 250ms;
}

.sidebar-toggle:checked ~ .sidebar-toggle-label span::before {
    transform: translateY(calc(0.3 * var(--span-icons-length)));
    transition: transform 150ms ease-in-out;
}

.sidebar-toggle:checked ~ .sidebar-toggle-label span::after {
    transform: translateY(calc(0.6 * var(--span-icons-length)));
    transition: transform 150ms ease-in-out;
}

@media screen and (min-width: 1270px) {
    header {
        padding-inline: var(--desktop-padding);
    }

    .container, .footer{
        padding-inline: var(--desktop-padding);
    }
}


@media screen and (min-width: 1680px) {
    header {
        padding-inline: var(--desktop-big-padding);
    }

    .container, .footer{
        padding-inline: var(--desktop-big-padding);
    }
}


@media screen and (min-width: 870px) {
    .content {
        width: -webkit-fill-available;
        overflow: auto;
    }

    .nav-toggle-label {
        display: none;
    }

    .sidebar-toggle-label {
        display: none;
    }

    .sidebar {
        /*all: unset;*/
        transform: unset;
        transform-origin: unset;
        transition: unset;
        position: sticky;
        top: var(--header-height);
        max-height: calc(100vh - var(--header-height));
        overflow-y: auto;
        background-color: var(--menu-background);
        min-width: 28%;
        max-width: 280px;
        padding-inline: 1em;
    }

    nav a, .sidebar * {
        opacity: 1;
    }

    nav {
        all: unset;
    }

    nav ul {
        display: flex;
        align-items: stretch;
        height: var(--header-height);
    }

    nav ul li {
        margin-bottom: 0px;
        margin-left: 2em;
        display: flex;
        align-items: center
    }

    .logo {
        margin-left: 1em;
        margin-block: 0px;
    }

    .footer {
        font-size: 0.8em;
    }
}

